body{
    font-family: Arial, sans-serif;
    background:rgb(12, 13, 29);
    margin: 0px;
}

.navegacaoClass{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(7, 7, 14);
    color: rgb(194, 194, 194);
}

.navegacaoClass img:hover{
    filter: brightness(80%);
}

.listaMaterias{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.bgCabecalho{
    align-items: center;
    position: sticky;
    top: 20px;
    background-color: rgb(9, 9, 18);
    padding-top: 20px;
    padding-bottom: 30px;
    width: 95%;
    margin-top: 15px;
    margin-left: 2.5%;
    border-radius: 10px;
}

.cabeçalhoTexto{
    display: flex;
    justify-content: space-around;
}

.listaMat{
    list-style-type: none;
    margin-top: 10px;
}

.listaTexto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    color: rgb(194, 194, 194);
}

.listaTexto:hover{
    filter: brightness(75%);
}

#imgss{
    height: 40px;
    margin-bottom: 10px;
}

.teste{
    display: flex;
    height: 200px;
    width: 400px;
    border-radius: 10px;
    background-color: lightgray;
    margin: 50px;
}

.teste2{
    margin: 25px;
    background-color: rgb(155, 155, 155);
    height: 100px;
    width: 300px;
    border-radius: 10px;
    padding: 25px;
}
