body{
    background-color: #f0f0f0;
}

.navegacaoClass{
    display: flex;
    justify-content: space-around;
}
.headerDiv{

}

.listaMaterias{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}

.bgCabecalho{
    background-color: rgb(221, 221, 221);
    padding: 0px 0px;
    margin-left: -20px;
    margin-top: -20px;
    margin-right: -20px;
    padding-bottom: 40px;
}

.cabeçalhoTexto{
    display: flex;
    justify-content: space-around;
}

.listaMat{
    list-style-type: none;
    margin-top: 10px;
}

.listaTexto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.listaTexto:hover{
    filter: brightness(75%);
}

#imgss{
    height: 80px;
    margin-bottom: 10px;
}

.capaS{
    display: flex;
    justify-content: space-around;
    margin-top: 250px;
    margin-left: 140px;
}

.textoCapa1{
    font-family: "Kanit", sans-serif;
    font-weight: 1000;
    font-size: 100px;
    margin-top: -130px;
    letter-spacing: 10px;
}

.textoCapa2{
    font-family: "Kanit", sans-serif;
    font-weight: 1000;
    font-size: 100px;
    margin-top: -130px;
    letter-spacing: 10px;
    color: #587BD6;
}

.textoCapa3{

}

.moçaDiv{
    height: 800px;
    transform: scaleX(-1);
    margin-top: -220px;
}

