body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    max-width: 60%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-wrap: break-word;
    margin-top: 20px;
    color: rgb(194, 194, 194);
    background-color: rgb(47, 40, 65);
}

.comment {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid rgb(9, 9, 18);;
    border-radius: 5px;
    padding-right: 15px;
    padding-bottom: 20px;
}

.replySection {
    margin-left: 20px;
    justify-content: space-around;
}

textarea {
    max-width: 98%;
    width: 98%;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
    resize: none;
    border: none;
    background-color: rgb(81, 72, 105);
    color: #f0ffffde;
    padding: 10px;
}

textarea::placeholder{
    color: rgba(240, 255, 255, 0.58);
}

.replySection textarea{
    width: 94%;
}

button {
    height: 20px;
    align-items: center;
    border-radius: 5px;
    margin-top: 5px;
    border: none;
    background-color: rgb(88, 123, 214);
    color: rgb(43, 19, 75);
    font-weight: bolder;
}

button img{
    pointer-events: none;
}

button:hover{
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}

.div-btn-reply{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    width: 152px;
}

